@import "tailwindcss";

.leaflet-control-attribution {
    display: none !important;
}

.skeleton {
    position: relative;
    overflow: hidden;
    background: #e5e7eb;
}

/* Shimmer only on desktop */
@media (min-width: 768px) {
    .skeleton::after {
        content: "";
        position: absolute;
        inset: 0;

        transform: translateX(-100%);

        background: linear-gradient(
            90deg,
            transparent 0%,
            rgba(255, 255, 255, 0.65) 50%,
            transparent 100%
        );

        animation: skeleton-shimmer 1.4s ease-in-out infinite;
        will-change: transform;
    }
}

@keyframes skeleton-shimmer {
    100% {
        transform: translateX(100%);
    }
}
